<div class="bg-primary w-full h-screen flex flex-col items-center justify-evenly text-white uppercase">
  <h1 class="text-7xl tracking-widest flex flex-col text-center"><span>Megan's</span><span>Recipe Book</span></h1>
  <img src="../../assets/cute-bear.jpg" alt="cute bear picture" class="w-64 rounded-[50px]" />
  <a routerLink="/home">
    <button
      class="button w-44 h-12 relative bg-red-400 transition-all duration-300 before:content-[''] before:absolute before:bottom-0 before:left-0 before:w-full before:h-full before:z-10 before:opacity-0 before:transition-all before:duration-300 before:border-y-2 before:border-solid before:border-y-white/50 before:scale-x-0 before:scale-y-100 after:content-[''] after:absolute after:bottom-0 after:left-0 after:w-full after:h-full after:z-10 after:transition-all after:duration-300 after:bg-white/10 group hover:before:opacity-100 hover:before:scale-100 hover:after:opacity-0 hover:after:scale-x-0 hover:after:scale-y-100 hover:cursor-pointer">
      <span class="transition-all duration-300 group-hover:tracking-widest uppercase">Click to open</span>
    </button>
  </a>
</div>
