/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(245, 220, 215);
}

*,
::before,
::after {
  font-family: "Open Sans Condensed";
  box-sizing: border-box;
}
